.card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
    margin: 10px auto;
    width: 300px;
    cursor: pointer;
    transition: transform 0.25s ease-out;
    max-height: 350px;
    overflow: hidden;
  }
  
  .card-container img {
    max-width: 100%;
    height: auto;
  }
  
  .card-container h2 {
    margin-bottom: 0px; /* Reduce margin between name and email */
  }
  
  .card-container p {
    margin-top: 0; /* Remove margin on top of email */
    margin-bottom: 10px; /* Adjust margin to control the bottom spacing */
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
  
  @media (max-width: 768px) {
    .card-container {
      width: 250px;
    }
  }
  
  @media (max-width: 480px) {
    .card-container {
      width: 90%;
    }
  }
  