.card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    margin: 10px auto;
    width: 300px;
    cursor: pointer;
    transition: transform 0.25s ease-out;
  }
  
  .card-container img {
    max-width: 100%;
    height: auto;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
  
  @media (max-width: 768px) {
    .card-container {
      width: 250px;
    }
  }
  
  @media (max-width: 480px) {
    .card-container {
      width: 90%;
    }
  }
  